
<div class="container_full">
    <div class="container">
        <div class="footer_main">
            <div class="ftlist">
            <img src="../../../assets/Group 92405.webp" alt="">
            <h1>Trie properties</h1>
            <p>
            There are many variations of passages of Lorem Ipsum available but majority 
            have suffered
            </p>
            </div>
            <div class="ftlist2">
                
                <div class="box1 box">
                    <a (click)="onClick(1)">Home</a>
                    <a >About(S)</a>
                    <a (click)="onClick(3)">Our Projects</a>
                    <!-- <a href="#">Gallery</a> -->
                </div>
                <div class="box2 box">
                    <!-- <a href="#">Carrers</a> -->
                    <!-- <a (click)="onClick(6)">Blog</a> -->
                    <a (click)="onClick(7)">Contact Us</a>
                </div>
                <div class="box3 box">
                    <h1>Follow Us</h1>
                    <div class="social_icon">
                        <img src="../../../assets/insta.svg" alt="">
                        <img src="../../../assets/twitter.svg" alt="">
                        <img src="../../../assets/fb.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- footer end -->
       <hr class="hr_line">
    <main class="main_box">
        <span class="Copyright_area">
            Copyright © 2022  TheGroup. All rights reserved.
            </span>
        
    </main>

    </div>
</div>

