<div nz-row *ngIf="!isAdding">
  <div nz-col nzSpan="24">
    <nz-card style="width:100%;" nzTitle="BANNERS LIST">
      <div nz-row [nzGutter]="16" style="margin-bottom:20px;">
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label nzSpan="24">
              <span style="margin-right: 15px">{{isActiveList==true?'Active':'Inactive'}}</span>
            </nz-form-label>
            <nz-form-control nzSpan="24">
              <nz-switch [(ngModel)]="isActiveList" (ngModelChange)="onChangeStatus()">
              </nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzSpan="24">Search</nz-form-label>
            <nz-form-control nzSpan="24">
              <input type="text" nz-input [formControl]="Search" placeholder="Search....">
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="5" [nzOffset]="9">
          <button nz-button class="add-button" style="float: right;" (click)="onAdd()">
            {{isEditing?'EDIT BANNER':'ADD BANNER'}}</button>
        </div>
      </div>
      <nz-table #basicTable [nzData]="tableData" [nzLoading]="isTableloading" nzShowPagination="false">
        <thead>
          <tr>

            <th>S.No</th>
            <th>Name</th>
            <th>Web Image</th>
            <th>Mobile Image</th>
            <th>Status</th>
            <th>Actions</th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData;let i=index">

            <td>{{data.Banner_No}}</td>
            <td>{{data.Banner_Title}}</td>
            <td>
              <span *ngIf="data.Whether_Web_Image_Available">
                <a target="_blank" [attr.href]="data.Web_Image_Information?.ImageOriginal">
                  Click to View
                </a>
              </span>
              <span *ngIf="!data.Whether_Web_Image_Available">
                NA
              </span>
            </td>
            <td>
              <span *ngIf="data.Whether_Mobile_Image_Available">
                <a target="_blank" [attr.href]="data.Mobile_Image_Information?.ImageOriginal">
                  Click to View
                </a>
              </span>
              <span *ngIf="!data.Whether_Mobile_Image_Available">
                NA
              </span>
            </td>
            <td>
              <span *ngIf="data.Status == true" style="color: green;">Active</span>
              <span *ngIf="data.Status == false" style="color: red;">Inactive</span>
            </td>
            <td>
              <i nz-icon nzType="more" nzTheme="outline" nz-dropdown [nzDropdownMenu]="menu"></i>
              <!-- <i nz-icon nzType="more" nzTheme="outline" nz-button nz-dropdown [nzDropdownMenu]="menu"></i> -->
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>
                    <span (click)="onEdit(data)">Edit</span>
                  </li>
                  <li nz-menu-item>
                    <span [ngSwitch]="data.Status">
                      <span *ngSwitchCase="true">
                        <span nz-popconfirm (nzOnConfirm)="onAction(data)" style="color: red; cursor: pointer"
                          nzPopconfirmTitle="Are you sure you want to Inactive this?">Make Inactive</span>
                      </span>
                      <span *ngSwitchCase="false">
                        <span nz-popconfirm (nzOnConfirm)="onAction(data)" style="color: blue; cursor: pointer"
                          nzPopconfirmTitle="Are you sure you want to Active this?">Make Active</span>
                      </span>
                      <span *ngSwitchDefault> NA </span>
                    </span>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
            <!-- <td><i nz-icon nzType="edit" nzTheme="outline"
                style="color:#ff0018;cursor: pointer;" (click)="onEdit(data)"></i></td> -->
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination (nzPageIndexChange)="onNextPage($event)" [nzPageSize]="limit" [nzPageIndex]="currentPage"
        [nzTotal]="TotalItems" [nzShowTotal]="totalTemplate"></nz-pagination>
      <ng-template #totalTemplate let-total><span class="ng-template" style="color: #ff0018;
      font-weight: 600;">Total : {{ total }}</span></ng-template>
    </nz-card>
  </div>
</div>
<div nz-row *ngIf="isAdding">
  <div nz-col nzSpan="24">
    <nz-card style="width:100%;" [nzTitle]="title">
      <ng-template #title>
        {{isEditing?'Update Banner':'Add Banner'}}
      </ng-template>
      <form nz-form [formGroup]="addForm">
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzSpan="6">S.No</nz-form-label>
              <nz-form-control nzSpan="12">
                <input nz-input placeholder="Enter S.No" formControlName="Banner_No" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzSpan="6">Name</nz-form-label>
              <nz-form-control nzSpan="12" nzErrorTip="Please enter Banner Name">
                <input type="text" nz-input formControlName="Banner_Title" placeholder="Banner Name">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="Cluster" [nzSpan]="6">Web Image</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-upload [nzBeforeUpload]="beforeUploadWeb">
                  <button nz-button><i nz-icon [nzType]="isWebImageUploading?'loading':'upload'" nzTheme="outline"></i>
                    Upload</button>
                </nz-upload>
              </nz-form-control>
              <nz-form-control [nzSpan]="6" *ngIf="WebImageData.length>0">
                <a target="_blank" [attr.href]="this.WebImageData[0].ImageOriginal">Click to View</a>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzFor="Cluster" [nzSpan]="6">Mobile Image</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-upload [nzBeforeUpload]="beforeUploadMobile">
                  <button nz-button><i nz-icon [nzType]="isMobileImageUploading?'loading':'upload'"
                      nzTheme="outline"></i> Upload</button>
                </nz-upload>
              </nz-form-control>
              <nz-form-control [nzSpan]="6" *ngIf="MobileImageData.length>0">
                <a target="_blank" [attr.href]="this.MobileImageData[0].ImageOriginal">Click to View</a>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-control [nzSpan]="24" style="text-align: center;">
                <button (click)="onClose()" nzType="default" style="margin-right: 10px;" nz-button>
                  <span>Cancel</span></button>
                <button (click)="onsubmit()" [nzLoading]="isAddBtnLoading" nz-button nzType="primary">
                  <span>{{isEditing?'Update Banner':'Add Banner'}}</span></button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>
  </div>
</div>